h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins";
}

p,
span {
	font-family: "Roboto", sans-serif;
}

h1 {
	font-size: 7rem;
	color: #fff;
	margin: 0 0 1rem;
}

h2 {
	font-size: 5rem;
	color: #fff;
	margin: 0 0 1rem;
}

h3 {
	font-size: 2.5rem;
	color: #fff;
	margin: 0 0 1rem;
}

h4 {
	font-size: 1.5rem;
	color: #101010;
	margin: 0 0 1rem;
}

h5 {
	font-size: 1.5rem;
	color: #fff;
	margin: 0 0 0.1rem;
}

h6 {
	font-size: 1rem;
	font-style: italic;
	font-weight: 500;
	color: #fff;
	margin: 0;
}
